/*-- scss:defaults --*/
$primary:  #6d597a ;
$secondary: #355070;


// Fonts
@import 'https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap';

h1, h2, h3, h4, h5, h1.title, .title.h1 {
  font-family: "Cascadia Code", Sans-Serif ;
}

.navbar {
  font-family: "Cascadia Code", Sans-Serif ;
}

.navbar a:hover {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

